:root {
	--dark-bg: #181818;
}

* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

body {
	background-color: #2f2f2f;
}

h1 {
	margin: auto;
	text-align: center;
	padding: 1rem;
}

.fileList {
	display: flex;
	flex-direction: row;
	align-items: center;
	justify-content: start;
	gap: 1rem;
}

.fileList ul {
	display: flex;
	flex-wrap: wrap;
	list-style: none;
	gap: 2px;
}

.file {
	color: white;
	display: flex;
	flex-direction: row;
	flex-wrap: nowrap;
}

.fileList button {
	border: none;
	padding: 1rem;
	background-color: #0000003a;
	color: white;
}

.fileList button:hover {
	background-color: var(--dark-bg);
}

.fileList .upload {
	border: 1px solid #ff6f00;
	color: whitesmoke;
	background-color: #0000003a;
}

.fileList .upload:hover {
	background-color: var(--dark-bg);
}

.btn-wrapper {
	margin-top: 0.3rem;
	display: flex;
	flex-direction: row;
	justify-content: center;
}

.btn-wrapper button {
	border: 1px solid #ff6f00;
	padding: 1rem 4rem;
	background-color: #0000003a;
	color: whitesmoke;
	font-weight: bold;

	transition: all 0.3s ease;
}

.btn-wrapper button:hover {
	background-color: var(--dark-bg);
}

.errors {
	width: 100%;
	padding: 1rem;
}

pre {
	background-color: var(--dark-bg);
	padding: 1rem;
	margin-top: 1rem;
	width: 100%;
	border: 1px solid #ff6f00;
}

code {
	background-color: transparent;
	margin-top: 1rem;
	white-space: pre-wrap;
	border-radius: 5px;
	width: 100%;
}

.articles-wrapper {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	gap: 1rem;
	width: 100%;
}

.articles-wrapper h2 {
	text-align: start;
	width: 100%;
}

.articles-btn-wrapper {
	display: flex;
	flex-direction: row;
	justify-content: center;
	align-items: center;
	gap: 1rem;
	font-weight: bold;
}

.articles-btn-wrapper button {
	border: 1px solid #ff6f00;
	margin-top: 0.3rem;
	background-color: transparent;
	padding: 1rem;
	background-color: #0000003a;
	color: whitesmoke;
	font-weight: normal;
}

.articles-btn-wrapper button:hover {
	background-color: var(--dark-bg);
}

.articles {
	background-color: var(--dark-bg);
	width: 100%;
	list-style: none;
	padding: 1rem;
}

.articles li {
	margin: 10px;
}

.articles li a:hover {
	color: blueviolet;
}
